.footer_section {
    width: 100%;
    float: left;
    background-color: #021239;
    height: auto;
    padding: 70px 0px 50px 0px;
}

.map_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
}

.map_text a {
    color: #ffffff;
}

.map_text a:hover {
    color: #ffffff;
}

.image_main {
    height: auto;
    min-width: 75px;
    max-width: 75px;
}

.footer_section.layout_padding a {
    display: flex;
    align-items: center;
}

